<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="inner">
        <h3>Cats</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Origin</th>
              <th scope="col">Temperament</th>
              <th scope="col">Colors</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="cat of cats">
              <!-- <th scope="row">{{cat.id}}</th> -->
              <td>{{cat.name}}</td>
              <td>{{cat.origin}}</td>
              <td>{{cat.temperament}}</td>
              <td>{{cat.colors}}</td>
              <td>{{cat.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
